/* clientes */
.container-titulo {
    display: flex;
    justify-content: right;
    padding: 20px 20px;
    margin: 30px;
}

/* clientes */
#titulo-cliente1 {
    color: #7f4f24;
}

/* clientes */
#titulo-cliente2 {
    color: #936639;
}

/* clientes */
.videos-container {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    background-color: #3a2e39;
}