/* recomendacion */
.background-recomendaciones {
    background-color: #ddbea9;
}

/* recomendacion */
.container-recomendacion {
    text-align: center;
    padding: 20px 20px;
    margin: 60px 60px;
}

/* recomendacion */
.titulo-recomendacion {
    color: #6b705c;
    font-family: 'Scheherazade New', serif;
}

/* recomendacion */
.texto-recomendacion {
    color: black;
    font-family: 'Scheherazade New', serif;
    font-size: large;
}